@font-face {
    font-family: "norse";
    src: url("../font/norse-bold-webfont.woff2") format("woff2"),
         url("../font/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin: 0;
    width: 100%;
    height: 1024px;
    font-family: var(--system-ui);
}

.main-section {
    display: flex;
    width: 100%;
    height: 100%;
}

.header-section {
    background-image: url(../image/bg.jpg);
    width: 45%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    background-color: rgb(0, 0, 0, .5);
    margin-top: 30%;
    box-sizing: border-box;
    height: 15%;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
}

.logo-section {
    background-image: url(../image/odin-lined.png);
    width: 17.5%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-text, 
.credit-section,
.credit-section > p > a{
    color: white;
}

.logo-text, 
.credit-section {
    display: flex;
}

.logo-text {
    font-family: "norse", var(--system-ui);
    font-size: 6rem;
    align-items: center;
}

.credit-section {
    justify-content: center;
    margin-top: 630px;
}

.promotion-container {
    margin-top: 9%;
    width: 63%;
}

.promotion-text,
.form-text {
    font-weight: 700;
    font-size: 1.5rem;
}

.promotion-text,
.form-section {
    margin-left: 7.5%;
}

label {
    display: block;
    font-size: 0.95rem;
}

.form-section {
    width: 800px;
    height: 400px;
}

.first-section,
.second-section,
.third-section {
    display: flex;
    gap: 60px;
    margin-bottom: 20px;
}

input {
    width: 250px;
    height: 25px;
}